<div class="container">
    <div class="card mt-5">
      <h5 class="card-header">Consultation Partner {{ partner?.partnerid }}</h5>
      <div class="card-body">
        <h5 class="card-title">{{ partner?.name }}</h5>
        <p class="card-text">{{ partner?.domain }}</p>
        <p class="card-text">Nombre de transactions: {{ partner?.nbtransaction }}</p>
        <p class="card-text" *ngIf="partner?.bankAccount">Compte : {{ partner?.bankAccount.rib }}</p>
        <p class="card-text" *ngIf="!partner?.bankAccount">Affecté à: Aucun compte assigné</p>
        <p class="card-text" *ngIf="partner?.advertising">Publicité: {{ partner?.advertising.titre }}</p>
        <p class="card-text" *ngIf="!partner?.advertising">Publicité: Aucune</p>
        
        <h5 class="mt-5">Promotions</h5>
        <div class="list-group">
          <a *ngFor="let promotion of partner?.promotions" class="list-group-item">
            <h6 class="mb-1">{{ promotion.descrption }}</h6>
            <small>{{ promotion.promo }}</small>
          </a>
          <div *ngIf="!partner?.promotions" class="list-group-item">Aucune promotion</div>
        </div>
      
        <button class="btn btn-primary mt-3" (click)=" openAddPromotionModal()">Ajouter une prooomotion</button>
      
        <button mat-raised-button color="primary" (click)="addPromotion()">Ajouter des promotions</button>
      

        <h5 class="mt-5">Offres d'emploi</h5>
        <div class="list-group">
          <a *ngFor="let jobOffer of partner?.jobOffers" class="list-group-item">
            <h6 class="mb-1">{{ jobOffer.titre }}</h6>
            <small>{{ jobOffer.skills }}</small>
          </a>
          <div *ngIf="!partner?.jobOffers" class="list-group-item">Aucune offre d'emploi</div>
        </div>
        <button class="btn btn-primary mt-3" (click)=" openAddJobOfferModal()">Ajouter un offre d'emploi</button>
        
        <h5 class="mt-5">Formations</h5>
        <div class="list-group">
          <a *ngFor="let formation of partner?.formations" class="list-group-item">
            <h6 class="mb-1">{{ formation.titre }}</h6>
            <small>{{ formation.sujet }}</small>
          </a>
          <div *ngIf="!partner?.formations" class="list-group-item">Aucune formation</div>
        </div>
        <button class="btn btn-primary mt-3" (click)=" openAddFormationModal()">Ajouter une formation</button>
      </div>
    </div>
  
    <div class="modal" *ngIf="isAddPromotionModalOpen">
        <div class="modal-content">
          <h2>Ajouter une promotion</h2>
          <div class="form-group">
            <label for="categ">Catégorie de promotion:</label>
            <select id="categ" class="form-control" [(ngModel)]="newPromotion.categ">
              <option value="PROMO_FOOD">Alimentation</option>
              <option value="PROMO_CLOTHES">Vêtements</option>
            </select>
          </div>
          <div class="form-group">
            <label for="descrption">Descrption:</label>
            <textarea id="descrption" class="form-control" [(ngModel)]="newPromotion.descrption"></textarea>
          </div>
          <div class="text-center">
            <button class="btn btn-primary" (click)="addPromotion()">Ajouter</button>
            <button class="btn btn-secondary ml-2" (click)="closeAddPromotionModal()">Annuler</button>
          
    
    </div>
  </div>
</div>
  <div class="modal" *ngIf="isAddFormationModalOpen">
    <div class="modal-content">
      <h2>Ajouter une formation</h2>
      <div class="form-group">
        <label for="type">type de formation:</label>
        <select id="type" class="form-control" [(ngModel)]="newFormation.type">
          <option value="PAYYANT">payante</option>
          <option value="NON_PAYYANT">free</option>
        </select>
      </div>
      <div class="form-group">
        <label for="sujet">sujet:</label>
        <textarea id="sujet" class="form-control" [(ngModel)]="newFormation.sujet"></textarea>
      </div>
      <div class="form-group">
        <label for="titre">titre:</label>
        <textarea id="titre" class="form-control" [(ngModel)]="newFormation.titre"></textarea>
      </div>
      <div class="form-group">
        <label for="categorie">categorie:</label>
        <textarea id="categorie" class="form-control" [(ngModel)]="newFormation.categorie"></textarea>
      </div>
      <div class="text-center">
        <button class="btn btn-primary" (click)="addFormation()">Ajouter</button>
        <button class="btn btn-secondary ml-2" (click)="closeAddFormationModal()">Annuler</button>
      

</div>
</div>
</div>
  
<div class="modal" *ngIf="isAddJobOfferModalOpen">
    <div class="modal-content">
      <h2>Ajouter  jobOffer</h2>
     
      <div class="form-group">
        <label for="description">Description:</label>
        <textarea id="description" class="form-control" [(ngModel)]="newJobOffer.description"></textarea>
      </div>
      <div class="form-group">
        <label for="skills">skills:</label>
        <textarea id="skills" class="form-control" [(ngModel)]="newJobOffer.skills"></textarea>
      </div>
      <div class="form-group">
        <label for="titre">titre:</label>
        <textarea id="titre" class="form-control" [(ngModel)]="newJobOffer.titre"></textarea>
      </div>
      <div class="form-group">
        <label for="location">location:</label>
        <textarea id="location" class="form-control" [(ngModel)]="newJobOffer.location"></textarea>
      </div>
      <div class="form-group">
        <label for="experienceRequired">experienceRequired:</label>
        <textarea id="experienceRequired" class="form-control" [(ngModel)]="newJobOffer.experienceRequired"></textarea>
      </div>
      <div class="form-group">
        <label for="salary">salary:</label>
        <textarea id="salary" class="form-control" [(ngModel)]="newJobOffer.salary"></textarea>
      </div>
      <div class="text-center">
        <button class="btn btn-primary" (click)="addJobOffer()">Ajouter</button>
        <button class="btn btn-secondary ml-2" (click)="closeAddJobOfferModal()">Annuler</button>
      

</div>
</div>
      </div>
    

